*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}

html{
  font-size: 65%
}

h1{
  text-align: center;
  background-color: white;
  font-size: x-large;
  padding: 3%;
}

header{
  background-color: grey;
  text-align: center;
}

img{
  width: 100%;
  background-color: grey;
  margin: 15;
  height: 500px; 
  margin: 0 auto;
  display: block; 
}

body{
  max-width: 1048px;
  margin: 2.75rem auto;
  width: 80%;
  background-color: grey;
}

ul{
  text-align: center;
}

main h1{
  font-size: 3.5rem;
  text-align: center;
}

video{
  height: 500px; 
  margin: 0 auto;
  display: block; 
}

h4{ 
  text-align: center;
  font-size: x-large;
  background-color: #CCCCCC;
  padding: 0.75rem;
  font-size: 3rem;
}

button{
  margin: 0.5rem auto;
  width: 15rem;
  padding: 0.5rem;
  display: block; 
}

.complete{
  text-align: left;
}

.newslatter{
    background-color: #a79d9d85;
    text-align: left;
}

p{
  text-align: left;
  font-size: 1.5rem;
}

nav ul{
  background-color: rgb(189, 183, 183);
  font-weight: bold;
}

nav ul li{
  display: inline-block; 
  padding: 2rem 1.5rem;
  text-align: center;
}

nav ul li a{
  font-size: 1.5rem;
  color: black;
  text-decoration: none; 
  text-align: center;
}

nav ul li a:hover{ 
  font-size: 2.4rem;
  color: gainsboro;
}

footer{
  margin-top: 1.4rem;
  background-color: black;
  padding: 2rem; 
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

fieldset{
  font-size: 1.5rem;
  color: black;
  text-decoration: none; 
  text-align: left;
}